html {
  color: #efefef;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: monospace;
  font-size: 2vw;
  background-image: url("imgres/bg1.png");
}

input{
  color: rgb(180, 180, 180);
}

label {
  padding-bottom: 20%;
}

textarea {
  width: 95%;
  height: 50%;
  height: 25vh;

  background-color: rgba(26, 25, 25, 0.6);

  border-top-width: 0px;
  border-bottom-width: 1pt;
  border-right-width: 0px;
  border-left-width: 4pt;

  border-left-color: red;
  border-bottom-color: rgb(32,32,32);
  
  color: rgb(180, 180, 180)

  /*background-image: linear-gradient(to bottom, rgba(32,32,32,0), rgba(32,32,32,1));*/
  /*background-color: linear-gradient(to bottom, rgba(32,32,32,0), rgba(32,32,32,1));*/
}

.dataDisplay{
  border-bottom-right-radius: 5vw;
  border-bottom-left-radius: 5vw;
  border-top-right-radius: 5vw;
  border-top-left-radius: 0.5vmin;

  padding-bottom: 7%;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 7%;
}


.word {
  max-width: 90vw;
  padding: 1%;
  position: relative;
  font-size: 2vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
  color: red;
  font-family: "Sans";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.midCont {
  background-color: #22222248;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(5px);

  margin-left: 5vw;
  margin-right: 5vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50vh;
  padding-top: 5vh;
  height: 200%;
}

#_cloud {
  align-items: center;
  background-color: #30303f;
  color: #ccc;
}

#cloud {
  align-content: space-around;
}

#_maincont {
  display: inline-block;
  /*max-width: 75%;*/
  overflow: wrap;
  margin: 5%;
}

#innerspan {
  height: 10vh;
  visibility: hidden;
}

#explan {
  margin-left: 5%;
}

/*
#console {
  width: 100%;
  background-color: white;
  padding-left: 15%;
  padding: 5%;
}
*/

#console{
  background-color: #fff;
}

#modalPop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #181818;
  background-image: url("imgres/bg2org.png");
  height: 80vh;
}

#inModal {
  color: rgba(255, 255, 255, 1);
  background-color: #181818f0;
  padding: 5%;
  margin: 5%;
  height: 75vh;
  border-radius: 20pt;
}

.wordspan {
  padding-left: 5%;
  padding-right: 5%;
  overflow-wrap: normal;
  overflow: wrap;
  display: inline-block;
}

.cloudcont {
  color: #ccc;
  border-radius: 3vh;
  border-style: block;
  overflow-wrap: normal;
  overflow: wrap;
  display: inline-block;
  background-color: rgba(32, 32, 32, 0.5);
  max-width: 100%;
  width: 90%;
}

.entry_uname {
  font-weight: bold;
  font-size: 150%;
}

.padjump {
  /*margin-top: 5vmin;*/
  /*margin-bottom: 5vmin;*/
  margin-top: 5pt;
  opacity: 0;
}

.smolbreak {
  opacity: 0;
  height: 5%;
}

a {
  color: #ccc;
  text-decoration: none;
}

li {
  color: #bbb;
  text-decoration: none;
  list-style-type: none;
}

.plotCanvas {
  background-color: #32323299;
  width: 90%;
}

.paragrap {
  width: 35%;
  color: #eeeeee06;
  border-radius: 5vh;
}

#welcome {
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.76);
  margin: 5%;
  display: none;
}

#baby {
  font-weight: bolder;
  color: #cc2222;
  margin-bottom: 5%;
}

.gap {
  margin-top: 5%;
  margin-bottom: 5%;
}

.mainInput{
  /*border-top-color: rgba(0, 0, 0, 1);*/
  border-top-width:0px;
  border-right-width:0px;
  border-bottom-width: 1pt;
  border-left-width: 5pt;

  background: transparent;

  border-bottom-color: #151515;
  border-left-color: red;
  /*
  border-top-left-radius: 0.5vmin;
  border-top-right-radius: 3vw;
  border-bottom-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  */
  height: 10%;
  width: 95%;

  min-height: 8vmin;
}

/*canvas plotter thing*/
.clusterDiv{
  /*width: 100%;*/
  /*padding-right: 30%;*/
}

.disclaimer{
  color: #ce3;
  font-weight: bolder;
}

#headBlock{
  margin-bottom: 10%;
  padding-top: 20%;
}

#topbarBg{
  background-image:  url("imgres/bg2org.png");
  opacity: 0.1;
}

#topbar{
  position:fixed;
  height: 10vmin-;
  overflow-y:visible;

  background-color: #3232328c;
  width: 100vw;
  backdrop-filter: blur(10px);
/*

*/
  top: 0vh;
  left: 0vw;
  z-index: 9999;
}

.modeDisplay{
  margin-top: 3pt;
  margin-bottom: 15vh;
  margin-left: 2%;
  margin-right: 2%;

  /*background-color: #3232328c;*/
  
  background-color: #32323200;
  color: #fff;
  padding: 1%;

}

.modeBox{
  padding-bottom: 5%;
}

li{
  text-decoration: none;
  display: inline;
}

#main_sendoff{
  height: 10vh;
  width: 25%;
  border-radius: 10pt;
  margin-top: 5%;
  font-size: 170%;
  font-weight: 70%;
  padding-bottom: 5%;
}

.scaleInput{
  border-left-color: red;
  border-left-width: 5pt;

  border-bottom-color: black;
  border-bottom-width: 1pt;

  border-top-width: 0px;
  border-right-width: 0px;

  background-color: rgba(180,180,180,0.3);
}

.tellStor{
  padding-top: 500px;
}